/* * {
  border: 3px solid;
} */

html {
  text-align: left;
  height: 100%;
  
  /* background-color: turquoise; */
  background-image: url("../images/2080886_1919x1152.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.loginPage {
  
}

.loginPage-main{
  margin-left: 3rem;
}

.loginPage-main_title {
  font-size: 150px;
  letter-spacing: 10px;
  margin-top: 1.25em;
  margin-bottom: auto;
  color: white;
}

.loginPage-main_subtitle{
  margin-left: 2rem;
  margin-bottom: 2rem;
  color: white;
}

.loginPage-main_login_button{
  margin-left: 2rem;
}